# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/


# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/
